head
  title Gameboy
  meta(charset="utf-8")
  meta(name="description" content="Gameboy css only")

  link(rel="stylesheet" href="main.css")

body
  //h1.main Gameboy Original
  //hr

  #gameboy
    .screen
    .arrows
      .horizontal
      .vertical
    .btnAB
    .btnStartSelect
    .sound
    .phones
      span phones